@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    font-family: 微软雅黑;
}
/*form{
    display:none;
}*/
a{
    border: solid gray 1px;/*设置边框属性*/
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
   border-radius: 20px;/*设置圆角属性*/
    font-color: #000000;
    word-spacing: 10px; /*设置字体间距*/
}
a:link {color: black; text-decoration:none;} /*未访问：蓝色、无下划线*/
a:active{color: black;text-decoration:none; } /*激活：红色*/
a:visited {color:black;text-decoration:none;} /*已访问：purple、无下划线*/
a:hover {color: steelblue; text-decoration:none;} /*/鼠标移近：红色、下划线*/



hr.style-five {
    height: 30px;
    border-style:solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}/*晕染hr*/


#Background_Sign{
    background-color:#66cc99;
    height:100%;
    width:100%;
}
#SignIn_Div{
    height:100%;
    width:100%;
    background-image: url("img/background2.jpg");
}
#SignIn_Div_Form{
    float: right;
    background-color: white;
    position: absolute;
    right:0%;
    width: 300px;
    height: 100%;
    /*padding-top:10%;*/
    text-align: center;
    opacity: 0.85;/*设置透明度*/
}

#SignIn_Div_back{
    height:100%;
    float: left;
}
#SignIn_Div_back_0 {
    overflow:hidden;/*内容溢出时隐藏内容*/
    padding-left: 100px;
    padding-top: 150px;
    height:212px;
    font-size:12px;
    color: #ffffff;
    line-height:22px;
    text-align:left;
    /*font-family: "宋体";*/
    letter-spacing: 2px;
    opacity: 0.70;/*设置透明度*/
}

#SignUp_Div_Form{
    float: right;
    background-color: white;
    position: absolute;
    right:0%;
    width: 300px;
    height: 100%;
   /* padding-top:5%;*/
    text-align: left;
    opacity: 0.85;/*设置透明度*/
}
#SignUp_Error{
}
#Background_Soe{
    height:100%;
    width:100%;
    background-image: url("img/background3.jpg");
}
#SucSignUp_Div{
    height:50%;
    width:50%;
    background-color: white;
    opacity: 0.70;/*设置透明度*/
    top: 25%;
    left:25%;
    position: absolute;
    text-align: center;


}








#Teacher_Div{
    height:100%;
    width:100%;
    background-color:#66cc99;
}
#Teacher_Div_small{
    width:80%;
    height:100%;
    background-color:#ccffff;
    margin:auto;
}
#Teacher_Unit{
    margin: 10px 0;
    height :80%;
    width:48%;
    float:left;
    padding: 10px;
}
#Teacher_Ftask{
    margin: 10px 0;
    height :80%;
    width:48%;
    float:right;
    padding:10px;
}
#Ftask_Div{
    height:100%;
    width:100%;
    background-color:#66cc99;
}
#Ftask_Content{
    width:80%;
    height:100%;
    margin:auto;
    background-color:#ccffff;
}
#AssignWork_Div{
    height:100%;
    width:100%;
    background-color:#66cc99;
}
#AssignWork_WordList{
    width:80%;
    height:100%;
    margin:auto;
    background-color:#ccffff;
}

#ConfirmWord_Div{
    height:100%;
    width:100%;
    background-color:#66cc99;
}
#ConfirmWord_Show{
    width:80%;
    height:100%;
    margin:auto;
    background-color:#ccffff;
}
#SucAssignWord_Div{
    height:100%;
    width:100%;
    background-color:#66cc99;
}
#SucAssignWord_Div_small{
    width:80%;
    height:100%;
    margin:auto;
    background-color:#ccffff;
}
#student{
    height:100%;
    width:100%;
    background-color:#66cc99;
}
#student_small{
    width:80%;
    height:100%;
    margin:auto;
    background-color:#ccffff;
}
#review{
    height:100%;
    width:100%;
    background-color:#66cc99;
}
#review_small{
    width:80%;
    height:100%;
    margin:auto;
    background-color:#ccffff;
}
#test{
    width:80%;
    height:100%;
    margin:auto;
    background-color:#ccffff;
}
#result{
    width:80%;
    height:100%;
    margin:auto;
    background-color:#ccffff;
}
#finished{
    width:80%;
    height:100%;
    margin:auto;
    background-color:#ccffff;
<<<<<<< HEAD
}
=======
}

>>>>>>> parent of b6fd946... 界面全部修改完成
